{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/vars.js"></script>
<script>Exercises.currentExercise = Vars;</script>
{% endblock %}

{% block steps %}
<ul>
<li{% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/vars/1">1</a></li>
<li{% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/vars/2">2</a></li>
<li{% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/vars/3">3</a></li>
</ul>

{% if level == 1 %}
<div id="tip1" class="tip-placement" style="top:70px;left:20px;">
<div id="tip2" class="tip-placement" style="top:130px;left:20px;">
<ol class="joyride-list" data-joyride>
  <li data-button="Seuraava" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
    <p>Muuttujiin varastoidaan arvoja. Varastoituja arvoja voidaan kutsua ohjelmassa viittaamalla muuttujaan.
    Tässä harjoituksessa tehtävänä on saada luotua kentälle pallo joka saa halkaisijan arvon muuttujalta.</p>

    <p>Ohjelmakoodi ei kuitenkaan vielä toimi, koska muuttujaa nimeltään pallon_halkaisija ei ole määritelty.
    Määrittele muuttuja ja anna sille jokin arvo.</p>

    <!--<p>Muuttujan nimen voi määrittää vapaasti, ja siihen tallennettu arvo on käytettävissä-->
    <!--niin kauan kuin se on tallessa. Muuttujan arvo voi myös muuttua matkan varrella.</p>-->
  </li>
  <li data-id="tip1" data-button="Seuraava" data-options="tip_location: left; prev_button: false; modal: true">
    <p>Tällä palikalla pystyt luomaan uusia muuttujia. Pudotusvalikosta pystyt määrittämään muuttujan nimen,
    ja tyhjään kohtaan asetetaan muuttujan uusi arvo.</p>
  </li>
  <li data-id="tip2" data-button="Sulje" data-options="tip_location: left; prev_button: false; modal: true">
    <p>Tämä palikka palauttaa valitun muuttujan arvon.</p>
  </li>
</ol>
{% endif %}

{% if level == 3 %}
<div id="tip1" class="tip-placement" style="top:180px;left:20px;">
<ol class="joyride-list" data-joyride>
  <li data-button="Seuraava" class="wide hide-modal-next" data-options="prev_button: false;">
    <p></p>
    <p>Tehtävänä on piirtää kentälle kolmen juhlapyhän nimet vierekkäin.</p>
  </li>
  <li data-id="tip1" data-button="Seuraava" data-options="tip_location: left; prev_button: false;">
    <p>Tällä palikalla pystyy luomaan uutta tekstiä.</p>
  </li>
</ol>
{% endif %}

{% if level == 2 %}
<div id="tip1" class="tip-placement" style="top:180px;left:20px;">
<div id="tip2" class="tip-placement" style="top:230px;left:20px;">
<div id="tip3" class="tip-placement" style="top:310px;left:20px;">
<ol class="joyride-list" data-joyride>
  <li data-button="Seuraava" class="wide hide-modal" data-options="prev_button: false;">
    <p>Edellisillä tasoilla opit luomaan muuttujia ja tekstiä.</p>
    <p>Otetaan opitut asiat käyttöön ja luodaan kentälle muuttuvaa tekstiä!</p>
  </li>
  <li data-id="tip1" data-button="Seuraava" data-options="tip_location: left; prev_button: false;">
    <p>Tällä palikalla pystyy luomaan uutta tekstiä.</p>
  </li>
  <li data-id="tip2" data-button="Seuraava" data-options="tip_location: left; prev_button: false">
    <p>Kun yhdistät tähän palikkaan kaksi muuta palikkaa, niiden teksti yhdistetään toisiinsa. Voit käyttää myös muuttujia tekstin lähteenä.</p>
  </li>
  <li data-id="tip3" data-button="Sulje" data-options="tip_location: left; prev_button: false">
    <p>Tähän palikkaan yhdistetty teksti piirretään kentälle.</p>
  </li>
</ol>
{% endif %}

{% endblock %}

{% block texts %}
<div class="level1_goal">
  <p>Muuttujiin varastoidaan arvoja, joita voidaan ohjelmakoodissa myöhemmin kutsua viittaamalla muuttujaan.
  Tässä harjoituksessa tehtävänä on saada luotua kentälle pallo.</p>

  <p>Ohjelmakoodi ei kuitenkaan vielä toimi, koska muuttujaa nimeltään pallon_halkaisija ei ole määritelty.
  Määrittele muuttuja ja anna sille jokin arvo.</p>

  <p>Muuttujan nimen voi määrittää vapaasti, ja siihen tallennettu arvo on käytettävissä
  niin usein kuin se on tallessa. Muuttujan arvo voi myös muuttua matkan varrella.</p>
</div>

<div class="level2_goal">
  <p>Tutustutaan tekstin piirtämiseen ja yhdistelyyn</p>
</div>

<div class="level3_goal">
  <p>Edellisillä tasoilla opit luomaan muuttujia ja tekstiä.</p>
  <p>Otetaan opitut asiat käyttöön, ja luodaan kentälle teksti joka muuttuu samalla kun muuttujan arvo vaihtuu</p>
</div>
{% endblock %}
