{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/vars.js"></script>
<script>Exercises.currentExercise = Vars;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}
<ul>
  <li id="vars_level1_link" {% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/muuttujat/1">1</a></li>
  <li id="vars_level2_link" {% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/muuttujat/2">2</a></li>
  <li id="vars_level3_link" {% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/muuttujat/3">3</a></li>
</ul>
{% endblock %}

{% block exercise_tips %}
{% if level == 1 %}
<div class="task-overview">
  {% autoescape false %}{{ exercises_vars_level1_task_overview }}{% endautoescape %}
</div>
<div id="tip-set" class="exercise-tip-placement" style="top:65px;left:340px"></div>
<div id="tip-name" class="exercise-tip-placement" style="top:70px;left:380px"></div>
<div id="tip-set2" class="exercise-tip-placement" style="top:150px;left:330px"></div>
<div id="tip-get" class="exercise-tip-placement" style="top:230px;left:460px"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false">
    {% autoescape false %}{{ exercises_vars_level1_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-set" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: bottom; prev_button: true">
    {% autoescape false %}{{ exercises_vars_level1_modal2 }}{% endautoescape %}
  </li>
  <li data-id="tip-name" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: bottom; prev_button: true">
    {% autoescape false %}{{ exercises_vars_level1_modal3 }}{% endautoescape %}
  </li>
  <li data-id="tip-get" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: bottom; prev_button: true">
    {% autoescape false %}{{ exercises_vars_level1_modal4 }}{% endautoescape %}
  </li>
  <li data-id="start-execution-btn" class="wide hide-modal-next" data-options="tip_location: top; prev_button: true; next_button: false">
    {% autoescape false %}{{ exercises_vars_level1_modal5 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Vars.resumeTourAfterExecution()"></div>
  </li>
  <li data-id="end-execution-btn" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: top; prev_button: true;">
    {% autoescape false %}{{ exercises_vars_level1_modal6 }}{% endautoescape %}
  </li>
  <li data-id="tip-set" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: bottom; prev_button: true;">
    {% autoescape false %}{{ exercises_vars_level1_modal7 }}{% endautoescape %}
  </li>
  <li data-id="tip-set2" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: bottom; prev_button: true;">
    {% autoescape false %}{{ exercises_vars_level1_modal8 }}{% endautoescape %}
  </li>
  <li data-id="tip-get" data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="tip_location: bottom; prev_button: true;">
    {% autoescape false %}{{ exercises_vars_level1_modal9 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide hide-modal-next" data-options="tip_location: left; prev_button: true;">
    {% autoescape false %}{{ exercises_vars_level1_modal10 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_know_how_to_use_variables }}</div>
</div>
{% endif %}

{% if level == 2 %}
<div class="task-overview">
{% autoescape false %}{{ exercises_vars_level2_task_overview }}{% endautoescape %}
</div>

<div id="tip-code" class="exercise-tip-placement" style="top:230px;left:330px"></div>
<div id="tip-varblock" class="exercise-tip-placement" style="top:5px;left:0px;width:170px;"></div>

<ol class="joyride-list" data-joyride>
  <li data-button="{{ next_button_caption }}">
    {% autoescape false %}{{ exercises_vars_level2_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-code" class="wide" data-button="{{ next_button_caption }}" data-options="prev_button: true; tip_location: top;">
    {% autoescape false %}{{ exercises_vars_level2_modal2 }}{% endautoescape %}
  </li>
  <li data-button="{{ next_button_caption }}">
    {% autoescape false %}{{ exercises_vars_level2_modal3 }}{% endautoescape %}
  </li>
  <li data-button="OK!" data-id="tip-varblock" data-button="{{ next_button_caption }}" data-options="prev_button: true; tip_location: right;">
    {% autoescape false %}{{ exercises_vars_level2_modal4 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_draw_my_own_text_to_the_grid }}</div>
  <div>{{ i_tried_catenation_of_multiple_text_snippets }}</div>
  <div>{{ i_managed_to_store_text_in_the_variables }}</div>
</div>
{% endif %}

{% if level == 3 %}
<div class="task-overview">
{% autoescape false %}{{ exercises_vars_level3_task_overview }}{% endautoescape %}
</div>
<div id="tip-when" class="exercise-tip-placement" style="top:190px;left:170px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: false;">
    {% autoescape false %}{{ exercises_vars_level3_modal1 }}{% endautoescape %}
    <div class="after-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="tip-when" data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: true;">
    {% autoescape false %}{{ exercises_vars_level3_modal2 }}{% endautoescape %}
  </li>
  <li data-button="{{ start_button_caption }}" class="wide">
    {% autoescape false %}{{ exercises_vars_level3_modal3 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_draw_text_on_the_grid }}</div>
  <div>{{ when_selected_button_is_pressed_the_amount_is_displayed }}</div>
</div>
{% endif %}

{% endblock %}
