.joyride-content-wrapper {
  overflow: hidden;
  padding: 1.125rem !important; }

.joyride-close-tip-custom {
  position: absolute;
  right: 12px;
  top: 10px;
  color: #777 !important;
  text-decoration: none;
  font-size: 24px;
  font-weight: normal;
  line-height: 0.5 !important; }

.joyride-tip-guide {
  margin-bottom: 20px; }

.joyride-tip-guide.wide {
  width: 500px; }

.joyride-tip-guide {
  /*strong { font-family: 'Short Stack'; }*/ }
  .joyride-tip-guide {
    border-radius: 10px; }
  .joyride-tip-guide h1, .joyride-tip-guide h2, .joyride-tip-guide p, .joyride-tip-guide strong, .joyride-tip-guide ul {
    font-family: 'Boogaloo';
    margin-bottom: 0.6rem; }
  .joyride-tip-guide strong {
    color: #ccc; }
  .joyride-tip-guide .button {
    margin-top: 10px;
    float: right; }
  .joyride-tip-guide.success-dialog .button {
    float: none; }

.joyride-content-wrapper {
  padding-bottom: 65px !important; }
.joyride-content-wrapper.normal-padding {
  padding-bottom: 1.125rem !important; }
.joyride-content-wrapper a.action {
  font-size: 12px;
  color: #ccc; }
.joyride-content-wrapper a.action:hover {
  text-decoration: underline; }
.joyride-content-wrapper a.restart-joyride {
  clear: both; }
.joyride-content-wrapper a.solution-viewer {
  clear: both;
  font-size: 11px; }
.joyride-content-wrapper p {
  font-size: 18px; }
.joyride-content-wrapper .joyride-next-tip {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 10px 30px !important; }
.joyride-content-wrapper .joyride-prev-tip {
  margin-right: 0 !important;
  position: absolute;
  bottom: 15px;
  left: 20px; }

.exercise-tip-placement {
  display: none;
  /*border: green solid 1px;*/
  position: absolute;
  z-index: -1000;
  width: 250px;
  height: 40px; }

.tooltip.disabled {
  display: none !important; }

#evaluation-selects {
  display: none; }

.evaluation-dialog .joyride-content-wrapper {
  text-align: left; }
.evaluation-dialog .evaluation-row {
  margin-top: 10px; }
.evaluation-dialog .evaluation-row span {
  color: #666; }
.evaluation-dialog .evaluation-row select {
  display: none; }
.evaluation-dialog .evaluation-row.active span {
  color: #fff; }
.evaluation-dialog .evaluation-row.active select {
  display: block; }
