$font: 'Boogaloo';

.joyride-content-wrapper { overflow: hidden; padding: 1.125rem !important; }
.joyride-close-tip-custom { position: absolute; right: 12px; top: 10px; color: #777 !important; text-decoration: none; font-size: 24px; font-weight: normal; line-height: .5 !important; }
.joyride-tip-guide { margin-bottom: 20px; }
.joyride-tip-guide.wide { width: 500px; }

.joyride-tip-guide {
  & { border-radius: 10px; }
  h1,h2,p,strong,ul { font-family: $font; margin-bottom: 0.6rem;  }
  /*strong { font-family: 'Short Stack'; }*/
  strong { color: #ccc; }
  .button { margin-top: 10px; float: right; }
  &.success-dialog {
    .button { float: none; }
  }
}

.joyride-content-wrapper {
  & { padding-bottom: 65px !important; }
  &.normal-padding { padding-bottom: 1.125rem !important }
  a.action { font-size: 12px; color: #ccc; }
  a.action:hover { text-decoration: underline; }
  a.restart-joyride { clear:both; }
  a.solution-viewer { clear:both; font-size: 11px; }
  p { font-size: 18px; }
  .joyride-next-tip {
    position: absolute;
    right: 15px;
    bottom: 15px;
    padding: 10px 30px !important;
  }
  .joyride-prev-tip {
    margin-right: 0 !important;
    position: absolute;
    bottom: 15px;
    left: 20px;
  }
}

.exercise-tip-placement {
  display: none;
  /*border: green solid 1px;*/
  position: absolute;
  z-index: -1000;
  width: 250px;
  height: 40px;
}

.tooltip.disabled { display: none !important; }

#evaluation-selects { display: none; }

.evaluation-dialog {
  .joyride-content-wrapper { text-align: left; }
  .evaluation-row { margin-top: 10px; }
  .evaluation-row span { color: #666; }
  .evaluation-row select { display: none; }
  .evaluation-row.active span { color: #fff; }
  .evaluation-row.active select { display: block; }
}
