{% extends "../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/playground.js"></script>
<script>Exercises.currentExercise = Playground;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}<br /><br />{% endblock %}

{% block exercise_tips %}
<div class="task-overview">
  {% autoescape false %}{{ playground_task_overview }}{% endautoescape %}
</div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide" data-options="prev_button: false">
    {% autoescape false %}{{ playground_task_overview }}{% endautoescape %}
  </li>
</ol>
{% endblock %}
