{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/events.js"></script>
<script>Exercises.currentExercise = Events;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}
<ul>
  <li id="events_level1_link"{% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/koordinaatisto-ja-tapahtumat/1">1</a></li>
  <li id="events_level2_link"{% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/koordinaatisto-ja-tapahtumat/2">2</a></li>
  <li id="events_level3_link"{% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/koordinaatisto-ja-tapahtumat/3">3</a></li>
</ul>
{% endblock %}

{% block exercise_tips %}
{% if level == 1 %}
<div class="task-overview">
  {% autoescape false %}{{ exercises_events_level1_task_overview }}{% endautoescape %}
</div>
<div id="tip-elements" class="exercise-tip-placement" style="top:80px;left:200px;width:250px"></div>
<div id="tip-coord-array" class="exercise-tip-placement" style="top:320px;left:50px;width:190px"></div>
<div id="tip-coord-x" class="exercise-tip-placement" style="top:10px;right:300px;width:40px;"></div>
<div id="tip-coord-y" class="exercise-tip-placement" style="top:180px;right:550px;width:40px;"></div>
<div id="tip-coord-example1" class="exercise-tip-placement" style="top:190px;right:290px;width:40px;"></div>
<div id="tip-coord-example2" class="exercise-tip-placement" style="top:370px;right:415px;width:40px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
    {% autoescape false %}{{ exercises_events_level1_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-elements" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal2 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="tip-coord-array" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal3 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="output-stage" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: left; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal4 }}{% endautoescape %}
  </li>
  <li data-id="tip-coord-x" data-button="{{ next_button_caption }}" data-options="tip_location: bottom; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal5 }}{% endautoescape %}
  </li>
  <li data-id="tip-coord-y" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal6 }}{% endautoescape %}
  </li>
  <li data-id="tip-coord-example1" data-button="{{ next_button_caption }}" data-options="tip_location: bottom; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal7 }}{% endautoescape %}
  </li>
  <li data-id="tip-coord-example2" data-button="{{ next_button_caption }}" data-options="tip_location: top; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal8 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level1_modal9 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_understand_how_coordinate_system_works }}</div>
  <div>{{ i_could_draw_a_snowman }}</div>
</div>
{% endif %}
{% if level == 2 %}
<div class="task-overview">
  {% autoescape false %}{{ exercises_events_level2_task_overview }}{% endautoescape %}
</div>
<div id="tip-step1" class="exercise-tip-placement" style="top:5px;left:150px;width:250px"></div>
<div id="tip-step2" class="exercise-tip-placement" style="top:165px;left:130px;width:250px"></div>
<div id="tip-step3" class="exercise-tip-placement" style="top:195px;left:130px;width:250px"></div>
<!--<div id="tip-step4" class="exercise-tip-placement" style="top:80px;left:0px;width:250px"></div>-->
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
    {% autoescape false %}{{ exercises_events_level2_modal1 }}{% endautoescape %}
  </li>
  <li data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level2_modal2 }}{% endautoescape %}
  </li>
  <li data-id="tip-step1" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level2_modal3 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="tip-step2" data-button="{{ next_button_caption }}" data-options="tip_location: bottom; prev_button: true">
    {% autoescape false %}{{ exercises_events_level2_modal4 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="tip-step3" data-button="{{ next_button_caption }}" data-options="tip_location: top; prev_button: true">
    {% autoescape false %}{{ exercises_events_level2_modal5 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="code-area" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level2_modal6 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.closeFirstCategory()"></div>
  </li>
  <li data-button="OK!" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_events_level2_modal7 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_create_a_ball }}</div>
  <div>{{ i_understand_how_events_work }}</div>
</div>
{% endif %}
{% if level == 3 %}
<div class="task-overview">
  {% autoescape false %}{{ exercises_events_level3_task_overview }}{% endautoescape %}
</div>
<div id="tip-rect-block" class="exercise-tip-placement" style="top:70px;left:220px;width:250px"></div>
<div id="tip-edit-block" class="exercise-tip-placement" style="top:165px;left:220px;width:250px"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
    {% autoescape false %}{{ exercises_events_level3_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-rect-block" data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: true; tip_location: right;">
	{% autoescape false %}{{ exercises_events_level3_modal2 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Events.bindNextTourToMutatorIconClick()"></div>
  </li>
  <li data-id="tip-rect-block" data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: true; tip_location: right;">
    {% autoescape false %}{{ exercises_events_level3_modal3 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Events.unbindMutatorIconClick()"></div>
    <div class="after-step-method" style="display:none" data-exec="Exercises.hideBubbles()"></div>
  </li>
  <li data-id="tip-edit-block" data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: true; tip_location: right;">
    {% autoescape false %}{{ exercises_events_level3_modal4 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide" data-options="prev_button: true; tip_location: right;">
    {% autoescape false %}{{ exercises_events_level3_modal5 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_modify_a_new_element }}</div>
  <div>{{ i_could_create_a_new_element_that_changes_its_place_when_clicked }}</div>
</div>
{% endif %}
{% endblock %}
