{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/ifs.js"></script>
<script src="/js/exercises/maze.js"></script>
<script src="/blockly/custom_blocks/maze.js"></script>
<script>Exercises.currentExercise = Ifs;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}
<ul>
  <li id="ifs_level1_link"{% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/ehtolauseet/1">1</a></li>
  <li id="ifs_level2_link"{% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/ehtolauseet/2">2</a></li>
  <li id="ifs_level3_link"{% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/ehtolauseet/3">3</a></li>
</ul>
{% endblock %}

{% block exercise_tips %}
{% if level == 1 %}
<div class="task-overview">
{% autoescape false %}{{ exercises_ifs_level2_task_overview }}{% endautoescape %}
</div>
<div id="tip-answer" class="exercise-tip-placement" style="top:31px;left:320px;"></div>
<div id="tip-quess" class="exercise-tip-placement" style="top:71px;left:495px;"></div>
<div id="tip-if" class="exercise-tip-placement" style="top:250px;left:320px;"></div>
<div id="tip-condition" class="exercise-tip-placement" style="top:140px;left:280px;"></div>
<div id="tip-comparison" class="exercise-tip-placement" style="top:138px;left:425px;"></div>
<div id="tip-true" class="exercise-tip-placement" style="top:170px;left:180px;"></div>
<div id="tip-false" class="exercise-tip-placement" style="top:205px;left:180px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide" data-options="prev_button: false">
    {% autoescape false %}{{ exercises_ifs_level1_modal1 }}{% endautoescape %}
  </li>
  <li data-button="{{ next_button_caption }}" data-options="prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal2 }}{% endautoescape %}
  </li>
  <li data-id="tip-answer" data-button="{{ next_button_caption }}" data-options="tip_location:right;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal3 }}{% endautoescape %}
  </li>
  <li data-id="tip-quess" data-button="{{ next_button_caption }}" data-options="tip_location:right;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal4 }}{% endautoescape %}
  </li>
  <li data-id="tip-if" data-button="{{ next_button_caption }}" data-options="tip_location:bottom;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal5 }}{% endautoescape %}
  </li>
  <li data-id="tip-condition" data-button="{{ next_button_caption }}" data-options="tip_location:right;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal6 }}{% endautoescape %}
  </li>
  <li data-id="tip-true" data-button="{{ next_button_caption }}" data-options="tip_location:right;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal7 }}{% endautoescape %}
  </li>
  <li data-id="tip-false" data-button="{{ next_button_caption }}" data-options="tip_location:right;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal8 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide" data-options="tip_location:right;prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level1_modal9 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_draw_text_on_the_grid }}</div>
  <div>{{ the_text_changed_based_on_the_answer }}</div>
</div>
{% endif %}
{% if level == 2 %}
<div class="task-overview">
{% autoescape false %}{{ exercises_ifs_level1_task_overview }}{% endautoescape %}
</div>
<div id="tip1" class="exercise-tip-placement" style="top:223px;left:400px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide" data-options="prev_button: false">
    {% autoescape false %}{{ exercises_ifs_level2_modal1 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide" data-options="prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level2_modal2 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_draw_text_on_the_grid }}</div>
  <div>{{ i_used_one_or_more_ifs }}</div>
</div>
{% endif %}
{% if level == 3 %}
<div class="task-overview">
  {% autoescape false %}{{ exercises_ifs_level3_task_overview }}{% endautoescape %}
</div>
<div id="tip-missing1" class="exercise-tip-placement" style="top:150px;left:290px;width:120px;"></div>
<div id="tip-missing2" class="exercise-tip-placement" style="top:325px;left:290px;width:120px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: false">
    {% autoescape false %}{{ exercises_ifs_level3_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-missing1" data-button="{{ next_button_caption }}" data-options="tip_location:right; prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level3_modal2 }}{% endautoescape %}
  </li>
  <li data-id="tip-missing2" data-button="{{ next_button_caption }}" data-options="tip_location:right; prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level3_modal3 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide" data-options="prev_button: true">
    {% autoescape false %}{{ exercises_ifs_level3_modal4 }}{% endautoescape %}
  </li>
</ol>
{% endif %}
{% endblock %}