{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/loops.js"></script>
<script src="/js/exercises/maze.js"></script>
<script src="/blockly/custom_blocks/maze.js"></script>
<script>Exercises.currentExercise = Loops;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}
<ul>
  <li id="loops_level1_link"{% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/toistolauseet/1">1</a></li>
  <li id="loops_level2_link"{% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/toistolauseet/2">2</a></li>
  <li id="loops_level3_link"{% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/toistolauseet/3">3</a></li>
</ul>
{% endblock %}

{% block exercise_tips %}
<div class="task-overview">
 {% autoescape false %}{{ exercises_loops_level1_task_overview }}{% endautoescape %}
</div>
{% if level == 1 %}
<ol class="joyride-list" data-joyride>
  <li data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
    {% autoescape false %}{{ exercises_loops_level1_modal1 }}{% endautoescape %}
  </li>
  <li data-button="{{ start_button_caption }}" class="wide" data-options="prev_button: true">
  {% autoescape false %}{{ exercises_loops_level1_modal2 }}{% endautoescape %}
  </li>
</ol>
{% endif %}
{% if level == 2 %}
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
   {% autoescape false %}{{ exercises_loops_level2_modal1 }}{% endautoescape %} 
  </li>
</ol>
{% endif %}
{% if level == 3 %}
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false; modal: true">
    {% autoescape false %}{{ exercises_loops_level3_modal1 }}{% endautoescape %} 
  </li>
</ol>
{% endif %}
{% endblock %}
