// why do i need this?
@import 'bourbon';

#exercise-page {
  #steps {
    & { text-align: center; }
    ul { margin: 10px 0 20px 0; }
    li { list-style-type: none; display: inline-block; width: 45px; height: 45px; }
    li { border-radius: 40%; background-color: #1c7563; }
    li { border: 4px #fff solid; }
    li.active { border-color: #daaa02; }
    li a { font-family: Boogaloo; font-size: 22px; color: #fff; width: 100%; height: 100%; display: block; }
  }
  .joyride-tip-guide p {
    font-family: Boogaloo; font-size: 18px;
  }

  $common-height: 600px;
  #exercise-area { position: relative; clear: both; height: $common-height; }
  #code-area, #output-stage, #mask-between, #blockly
    { position: absolute; width: 100%; height: $common-height; top: 0; }
  #start-execution-btn, #end-execution-btn { position: absolute; z-index: 3; right: 10px; bottom: 10px; }
  #start-execution-btn a, #end-execution-btn a { margin: 0; }
  #code-area {
    & { background-color: transparent; z-index: 2; border: 1px solid #ccc; }
    .blocklySvg { background-color: transparent; border: none; }
    .blocklyToolboxDiv { height: $common-height - 2 !important; }
    .blocklyScrollbarBackground, .blocklyScrollbarKnob { display: none; }
  }
  #mask-between { opacity: 0.8; background-color: #fff; z-index: 1; }
  #output-stage {
    & { z-index: 0; right: 0; width: 600px; }
    #stage-coordinates-offset { padding: 40px 0px 0px 40px; } // same as Stage.coords...Size
  }
}
