// why do i need this?
@import 'bourbon';

%vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

$basics-color:#9f005d;
$vars-color:#1c7563;
$ifs-color:#c2272d;
$loops-color:#067195;
$events-color:#f36c00;

$font: 'Boogaloo';

#topnavi {
  ul { list-style-type: none; margin: 0; padding: 0; }
  li { float: left; margin-left: 10px; margin-top: 20px; }
  a { display: block; padding: 5px 14px 3px 14px; }
  a { background-color: #f2f2f2; color: #777; }
  a { font-size: 14px; /*font-family: $font;*/ }
  a {
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  a.active, a:hover { color: #f2f2f2; background-color: #777; }
}

#exercise-links-page { margin: 0px auto; max-width: 600px; }
#exercise-links {
  & { text-align: center; margin-top: 50px; width: 100%; }
  a { display: inline-block; width: 150px; height: 150px; vertical-align: middle; }
  a { margin: 10px; border-radius: 40%; text-align: center; color: #fff; }
  a { font-family: $font; font-size: 22px; line-height: 22px; }
  a div { @extend %vertical-align; padding: 15px; }
  a.basics { background-color: $basics-color }
  a.vars { background-color: $vars-color }
  a.ifs { background-color: $ifs-color }
  a.loops { background-color: $loops-color }
  a.events { background-color: $events-color }
}

#exercise-page {
  & { min-width: 870px; }
  #back-btn, #help-btn { background-color: #ccc; width: 40px; height: 35px; text-align: center; float: left; }
  #back-btn { border-radius: 0 0 40% 0; float: left; }
  #help-btn { border-radius: 0 0 40% 40%; float: left; margin-left: 10px; }
  #back-btn a, #help-btn a { font-family: $font; font-size: 22px; color: #fff; width: 100%; height: 100%; display: block; }
  #steps {
    & { text-align: center; }
    ul { margin: 10px 0 20px 0; }
    li { list-style-type: none; display: inline-block; width: 45px; height: 45px; position: relative; }
    li { border-radius: 40%; }
    li { border: 4px #fff solid; }
    li.active { border-color: #daaa02; }
    li a { font-family: $font; font-size: 22px; color: #fff; width: 100%; height: 100%; display: block; }
    li .completed-star { width: 20px; top: -10px; left: -7px; position: absolute; }
  }
  &.exercise-basics #steps li { background-color: $basics-color; }
  &.exercise-vars #steps li { background-color: $vars-color; }
  &.exercise-ifs #steps li { background-color: $ifs-color; }
  &.exercise-loops #steps li { background-color: $loops-color; }
  &.exercise-events #steps li { background-color: $events-color; }

  $common-height: 600px;
  $code-area-height: $common-height+57;
  #exercise-area { position: relative; clear: both; height: $code-area-height; }
  #code-area, #output-stage, #mask-between, #blockly
    { position: absolute; width: 100%; height: $common-height; top: 0; }
  #reset-code-btn { position: absolute; z-index: 3; left: 10px; bottom: 10px; font-size: 11px; }
  #start-execution-btn, #end-execution-btn { position: absolute; z-index: 3; right: 10px; bottom: 10px; }
  #code-area {
    & { background-color: transparent; z-index: 2; height: $code-area-height; }
    #code-area-borders { border: 1px solid #ccc; height: $common-height; position: relative; }
    #code-area-actions { position: absolute; z-index: 3; right: 10px; bottom: 10px; }
    .blocklySvg { background-color: transparent; border: none; }
    .blocklyToolboxDiv { min-width: 130px; height: $common-height - 150 !important; } /* make room for trashcan... */
    .blocklyScrollbarBackground, .blocklyScrollbarKnob { display: none; }
    #toolbox-filler { height: 150px; position: absolute; background-color: #ddd; z-index: -1; }
  }
  #mask-between { opacity: 0.8; background-color: #fff; z-index: 1; }
  #output-stage {
    & { z-index: 0; right: 0; width: 600px; }
    #stage-coordinates-offset { padding: 40px 0px 0px 40px; } // same as Stage.coords...Size
  }
  .task-overview { display: none; }
}

.button { font-family: $font !important; border-radius: 1000px !important; }
.button:hover { text-decoration: none !important; }
.button.small { font-size: 18px !important; }
.button.tiny { font-size: 14px !important; }
.custom-btn { margin: 0 !important; }
