#exercises-page a.exercise-button div.text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

#topnavi ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
#topnavi li {
  float: left;
  margin: 20px 5px 0 5px;
  margin-top: 20px; }
#topnavi li.right {
  float: right;
  margin-top: 23px; }
#topnavi li.right a {
  font-size: 12px; }
#topnavi a {
  display: block;
  padding: 5px 14px 3px 14px; }
#topnavi a {
  background-color: #f2f2f2;
  color: #777; }
#topnavi a {
  font-size: 14px;
  /*font-family: $font;*/ }
#topnavi a {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; }
#topnavi a.active, #topnavi a:hover {
  color: #f2f2f2;
  background-color: #777; }

#page-wrapper {
  overflow: hidden;
  position: relative;
  height: 500px; }
#page-wrapper .page {
  top: 0;
  position: absolute;
  transition: 0.5s;
  width: 100%; }
#page-wrapper .page {
  padding: 0 10px; }
#page-wrapper .page.prev {
  left: -100%; }
#page-wrapper .page.next {
  left: 100%; }
#page-wrapper .page.curr {
  left: 0px; }

#exercise-links-page {
  margin: 0px auto;
  max-width: 600px; }

#exercises-page {
  text-align: center;
  margin-top: 20px;
  width: 100%; }
#exercises-page a.exercise-button {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  vertical-align: middle;
  margin: 10px;
  border-radius: 40%;
  text-align: center;
  color: #fff;
  font-family: 'Boogaloo';
  font-size: 22px;
  line-height: 22px; }
#exercises-page a.exercise-button div.text {
  padding: 15px; }
#exercises-page a.exercise-button.basics {
  background-color: #9f005d; }
#exercises-page a.exercise-button.vars {
  background-color: #1c7563; }
#exercises-page a.exercise-button.ifs {
  background-color: #c2272d; }
#exercises-page a.exercise-button.loops {
  background-color: #067195; }
#exercises-page a.exercise-button.events {
  background-color: #f36c00; }
#exercises-page a.exercise-button.events div.text {
  padding: 20px 15px 10px 15px; }
#exercises-page a.exercise-button .stars {
  width: 150px;
  padding: 0; }
#exercises-page a.exercise-button .stars {
  position: absolute;
  top: 10px;
  left: 18px; }
#exercises-page a.exercise-button .stars img {
  width: 35px;
  position: absolute;
  opacity: 0.2; }
#exercises-page a.exercise-button .stars img.first {
  left: 0px;
  top: 10px; }
#exercises-page a.exercise-button .stars img.second {
  left: 40px; }
#exercises-page a.exercise-button .stars img.third {
  left: 80px;
  top: 10px; }
#exercises-page .reset-button {
  font-size: 11px; }

#exercise-page {
  min-width: 870px; }
#exercise-page #back-btn, #exercise-page #help-btn {
  background-color: #ccc;
  width: 40px;
  height: 35px;
  text-align: center;
  float: left; }
#exercise-page #back-btn {
  border-radius: 0 0 40% 0;
  float: left; }
#exercise-page #help-btn {
  border-radius: 0 0 40% 40%;
  float: left;
  margin-left: 10px; }
#exercise-page #back-btn a, #exercise-page #help-btn a {
  font-family: 'Boogaloo';
  font-size: 22px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: block; }
#exercise-page #steps {
  text-align: center; }
#exercise-page #steps ul {
  margin: 10px 0 20px 0; }
#exercise-page #steps li {
  list-style-type: none;
  display: inline-block;
  width: 45px;
  height: 45px;
  position: relative; }
#exercise-page #steps li {
  border-radius: 40%; }
#exercise-page #steps li {
  border: 4px #fff solid; }
#exercise-page #steps li.active {
  border-color: #daaa02; }
#exercise-page #steps li a {
  font-family: 'Boogaloo';
  font-size: 22px;
  color: #fff;
  width: 100%;
  height: 100%;
  display: block; }
#exercise-page #steps li .completed-star {
  width: 20px;
  top: -10px;
  left: -7px;
  position: absolute; }
#exercise-page.exercise-basics #steps li {
  background-color: #9f005d; }
#exercise-page.exercise-vars #steps li {
  background-color: #1c7563; }
#exercise-page.exercise-ifs #steps li {
  background-color: #c2272d; }
#exercise-page.exercise-loops #steps li {
  background-color: #067195; }
#exercise-page.exercise-events #steps li {
  background-color: #f36c00; }
#exercise-page #code-display {
  position: absolute;
  margin-left: 225px;
  margin-top: 20px;
  z-index: 1; }
#exercise-page #code-display {
  font-family: 'Inconsolata', mono, sans-serif;
  color: #ccc; }
#exercise-page #exercise-area {
  position: relative;
  clear: both;
  height: 657px; }
#exercise-page #exercise-area {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }
#exercise-page #code-area, #exercise-page #output-stage, #exercise-page #mask-between, #exercise-page #blockly {
  position: absolute;
  width: 100%;
  height: 600px;
  top: 0; }
#exercise-page #reset-code-btn {
  position: absolute;
  z-index: 3;
  left: 10px;
  bottom: 10px;
  font-size: 11px; }
#exercise-page #start-execution-btn, #exercise-page #end-execution-btn {
  position: absolute;
  z-index: 3;
  right: 10px;
  bottom: 10px; }
#exercise-page #code-area {
  /* make room for trashcan... */ }
  #exercise-page #code-area {
    background-color: transparent;
    z-index: 2;
    height: 657px; }
  #exercise-page #code-area #code-area-borders {
    border: 1px solid #ccc;
    height: 600px;
    position: relative;
    min-width: 160px;
    overflow: hidden; }
  #exercise-page #code-area #code-area-actions {
    position: absolute;
    z-index: 3;
    right: 10px;
    bottom: 10px; }
  #exercise-page #code-area #blockly {
    height: 598px;
    min-width: 700px; }
  #exercise-page #code-area .blocklySvg {
    background-color: transparent;
    border: none; }
  #exercise-page #code-area .blocklyToolboxDiv {
    min-width: 130px;
    height: 450px !important; }
  #exercise-page #code-area .blocklyScrollbarBackground, #exercise-page #code-area .blocklyScrollbarKnob {
    display: none; }
  #exercise-page #code-area #toolbox-filler {
    height: 150px;
    position: absolute;
    background-color: #ddd;
    z-index: -1; }
#exercise-page #mask-between {
  opacity: 0.8;
  background-color: #fff;
  z-index: 1; }
#exercise-page #output-stage {
  z-index: 0;
  right: 0;
  width: 600px; }
#exercise-page #output-stage #stage-coordinates-offset {
  padding: 40px 0px 0px 40px; }
#exercise-page .task-overview {
  display: none; }
#exercise-page .resize-handle {
  width: 5px;
  height: 20px;
  position: absolute;
  top: 280px;
  right: 0;
  cursor: e-resize;
  background-color: #ddd; }

.button {
  font-family: 'Boogaloo' !important;
  border-radius: 1000px !important; }

.button:hover {
  text-decoration: none !important; }

.button.small {
  font-size: 18px !important; }

.button.tiny {
  font-size: 14px !important; }

.custom-btn {
  margin: 0 !important; }
