{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/basics.js"></script>
<script>Exercises.currentExercise = Basics;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}
<ul>
  <li id="basics_level1_link"{% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/perusteet/1">1</a></li>
  <li id="basics_level2_link"{% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/perusteet/2">2</a></li>
  <li id="basics_level3_link"{% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/perusteet/3">3</a></li>
</ul>
{% endblock %}

{% block full_page_tips %}
{% if level == 1 %}
<div class="task-overview">
  <h2>{{ exercise_header }}</h2>
  {% autoescape false %}{{ exercises_basic_level1_task_overview }}{% endautoescape %}
</div>
<div id="tip-navi" class="exercise-tip-placement" style="top:20px;left:10px;"></div>
<div id="tip-levels" class="exercise-tip-placement" style="top:30px;left:45%;"></div>
<div id="tip-blocks" class="exercise-tip-placement" style="top:90px;left:0px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false">
    {% autoescape false %}{{ exercises_basic_level1_modal1 }}{% endautoescape %}
  </li>
  <li data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: true">
    {% autoescape false %}{{ exercises_basic_level1_modal2 }}{% endautoescape %}
    <!--Jos kuitenkin koet että osaat jo tarpeeksi hyvin, etkä-->
    <!--tarvitse ohjeita, voit klikata tämän ikkunan oikeassa yläkulmassa olevasta-->
    <!--rastista ohjeen pois ja siirtyä suoraan tehtävän ratkaisemiseen.-->
  </li>
  <li data-id="tip-navi" class="wide" data-button="{{ next_button_caption }}" data-options="tip_location: top; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level1_modal3 }}{% endautoescape %}
  </li>
  <li data-id="tip-levels" data-button="{{ next_button_caption }}" data-options="tip_location: top; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level1_modal4 }}{% endautoescape %}
  </li>
  <li data-id="code-area" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level1_modal5 }}{% endautoescape %}
  </li>
  <li data-id="output-stage" data-button="{{ next_button_caption }}" data-options="tip_location: left; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level1_modal6 }}{% endautoescape %}
  </li>
  <li data-id="tip-blocks" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level1_modal7 }}{% endautoescape %}
  </li>
  <li data-id="tip-blocks" class="wide pause-after" data-button="OK!" data-options="tip_location: right; prev_button: true; modal: true;">
    {% autoescape false %}{{ exercises_basic_level1_modal8 }}{% endautoescape %}
  </li>
  <li data-button="{{ next_button_caption }}" class="wide" data-options="prev_button: true; modal: false;">
    {% autoescape false %}{{ exercises_basic_level1_modal9 }}{% endautoescape %}
  </li>
  <li data-id="start-execution-btn" class="wide" data-options="tip_location: top; next_button: false; prev_button: true; modal: false;">
    {% autoescape false %}{{ exercises_basic_level1_modal10 }}{% endautoescape %}
  </li>
</ol>
{% endif %}
{% if level == 2 %}
<div class="task-overview">
  <h2>{{ exercise_header }}</h2>
  {% autoescape false %}{{ exercises_basic_level2_task_overview }}{% endautoescape %}
</div>
<div id="tip-code" class="exercise-tip-placement" style="top:200px;left:400px;"></div>
<div id="tip-statement" class="exercise-tip-placement" style="top:230px;left:320px;"></div>
<div id="tip-lonely-block" class="exercise-tip-placement" style="top:330px;left:400px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ start_button_caption }}" class="wide" data-options="prev_button: false">
    {% autoescape false %}{{ exercises_basic_level2_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-code" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level2_modal2 }}{% endautoescape %}
  </li>
  <li data-id="tip-statement" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level2_modal3 }}{% endautoescape %}
  </li>
  <li data-id="tip-lonely-block" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level2_modal4 }}{% endautoescape %}
  </li>
  <li class="wide" data-button="{{ next_button_caption }}" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level2_modal5 }}{% endautoescape %}
    <div class="after-step-method" style="display:none" data-exec="Basics.endOnLastSlide()"></div>
  </li>
  <li class="wide" data-button="OK!" data-options="tip_location: right; prev_button: true">
    {% autoescape false %}{{ exercises_basic_level2_modal6 }}{% endautoescape %}
  </li>
</ol>
{% endif %}
{% if level == 3 %}
<div class="task-overview">
  <h2>{{ exercise_header }}</h2>
  {% autoescape false %}{{ exercises_basic_level3_task_overview }}{% endautoescape %}
</div>
<div id="tip-categories" class="exercise-tip-placement" style="top:80px;left:0px;width:165px;"></div>
<div id="tip-categories-open" class="exercise-tip-placement" style="top:70px;left:0px;"></div>
<div id="tip-arith" class="exercise-tip-placement" style="top:135px;left:45px;"></div>
<div id="tip-text" class="exercise-tip-placement" style="top:80px;left:55px;"></div>
<div id="tip-trash" class="exercise-tip-placement" style="top:575px;left:0px;width:110px;"></div>
<div id="tip-reset" class="exercise-tip-placement" style="top:630px;left:0px;width:150px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="{{ next_button_caption }}" class="wide hide-modal-next" data-options="prev_button: false;">
    {% autoescape false %}{{ exercises_basic_level3_modal1 }}{% endautoescape %}
  </li>
  <li data-id="tip-categories" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal2 }}{% endautoescape %}
  </li>
  <li data-id="tip-categories-open" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal3 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openLastCategory()"></div>
  </li>
  <li data-id="tip-arith" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal4 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openLastCategory()"></div>
  </li>
  <li data-id="tip-text" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal5 }}{% endautoescape %}
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="tip-trash" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal6 }}{% endautoescape %}
  </li>
  <li data-id="tip-reset" data-button="{{ next_button_caption }}" class="wide" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal7 }}{% endautoescape %}
  </li>
  <li data-button="OK!" class="wide pause-after" data-options="tip_location: right; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal8 }}{% endautoescape %}
  </li>
  <li data-id="evaluate-btn" class="wide" data-options="tip_location: top; next_button: false; prev_button: true;">
    {% autoescape false %}{{ exercises_basic_level3_modal9 }}{% endautoescape %}
  </li>
</ol>
<div id="evaluation-selects">
  <div>{{ i_could_draw_text_on_the_grid }}</div>
  <div>{{ text_was_an_answer_to_a_calculation }}</div>
</div>
{% endif %}
{% endblock %}
