{% extends "../../layouts/exercises.html" %}

{% block js %}
{% parent %}
<script src="/js/exercises/basics.js"></script>
<script>Exercises.currentExercise = Basics;</script>
<script>Exercises.init();</script>
{% endblock %}

{% block steps %}
<ul>
  <li id="basics_level1_link"{% if level == 1 %} class="active"{% endif %}><a href="/harjoitukset/perusteet/1">1</a></li>
  <li id="basics_level2_link"{% if level == 2 %} class="active"{% endif %}><a href="/harjoitukset/perusteet/2">2</a></li>
  <li id="basics_level3_link"{% if level == 3 %} class="active"{% endif %}><a href="/harjoitukset/perusteet/3">3</a></li>
</ul>
{% endblock %}

{% block full_page_tips %}
{% if level == 1 %}
<div class="task-overview">
  <h2>Tehtävä</h2>
  <p>Toteuta ensimmäinen ohjelmasi piirtämällä tekstiä kentälle.</p>
</div>
<div id="tip-navi" class="exercise-tip-placement" style="top:20px;left:10px;"></div>
<div id="tip-levels" class="exercise-tip-placement" style="top:30px;left:45%;"></div>
<div id="tip-blocks" class="exercise-tip-placement" style="top:90px;left:0px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="Aloita" class="wide hide-modal-next" data-options="prev_button: false">
    <h2>Kooditunti.fi perusteet</h2>
    <p>Tässä harjoituksessa tutustutaan siihen miten Kooditunti-sivusto toimii.</p>
  </li>
  <li data-button="Seuraava" class="wide" data-options="prev_button: true">
    <p>Jokaisen tehtävän alussa näytetään tälläinen askel askeleelta etenevä
    ohjeistus. Jos vasta aloittelet ohjelmoinnin opettelua, on suositeltavaa
    käydä ohjeet läpi huolella. Ohjeen voi halutessaan ohittaa klikkaamalla
    rastista ohjeen oikeassa yläkulmassa.</p>
    <!--Jos kuitenkin koet että osaat jo tarpeeksi hyvin, etkä-->
    <!--tarvitse ohjeita, voit klikata tämän ikkunan oikeassa yläkulmassa olevasta-->
    <!--rastista ohjeen pois ja siirtyä suoraan tehtävän ratkaisemiseen.-->
  </li>
  <li data-id="tip-navi" class="wide" data-button="Seuraava" data-options="tip_location: top; prev_button: true">
    <p>Nuolesta pääset navigoimaan takaisin harjoitusvalikkoon.</p>
    <p>Kysymysmerkkiä klikkaamalla näet mikä tason tehtävä oli, ja
    saatat myös löytää ylimääräistä apua jos et millään saa tehtävää ratkaistua.</p>
  </li>
  <li data-id="tip-levels" data-button="Seuraava" data-options="tip_location: top; prev_button: true">
    <p>Näitä numeroita klikkaamalla pystyt vaihtamaan tasoa.</p>
    <p>Valittu taso erottuu joukosta, ja jos olet päässyt tason läpi, ilmestyy sen kylkeen tähti.</p>
  </li>
  <li data-id="code-area" data-button="Seuraava" data-options="tip_location: right; prev_button: true">
    <p>Sivun tärkeimpiä elementtejä ovat vasemman puolen koodialue...</p>
  </li>
  <li data-id="output-stage" data-button="Seuraava" data-options="tip_location: left; prev_button: true">
    <p>...ja oikealla puolella oleva kenttä.</p>
    <p>Koodialueelle syötetty koodi suoritetaan kentällä.</p>
  </li>
  <li data-id="tip-blocks" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true">
    <p>Tästä löydät käytettävissä olevat koodipalikat.</p>
    <p>Palikat vaihtuvat tason mukaan, ja uusista palikoista annetaan tarvittaessa ohjeistusta.</p>
  </li>
  <li data-id="tip-blocks" class="wide pause-after" data-button="OK!" data-options="tip_location: right; prev_button: true; modal: true;">
    <p>Palikat toimivat kuin palapelin palat ja yhdistyvät toisiinsa.</p>
    <p>Kokeile palikoiden siirtämistä koodialueelle ja niiden yhdistämistä toisiinsa. Palikat siirtyvät hiirellä raahamalla.</p>
  </li>
  <li data-button="Seuraava" class="wide" data-options="prev_button: true; modal: false;">
    <p>Loistavaa, sait ensimmäisen ohjelmasi valmiiksi!</p>
  </li>
  <li data-id="start-execution-btn" class="wide" data-options="tip_location: top; next_button: false; prev_button: true; modal: false;">
    <p>Tästä klikkaamalla pystyt testaamaan miten ohjelmasi toimii. Kokeile sitä seuraavaksi.</p>
  </li>
</ol>
{% endif %}
{% if level == 2 %}
<div class="task-overview">
  <h2>Tehtävä</h2>
  <p>Askeleittain etenevässä ohjeistuksessa käydään läpi sitä miten näiden palikoiden kanssa ohjelmointi toimii. Klikkaa "Suorita koodi" -nappia siirtyäksesi seuraavalle tasolle.</p>
</div>
<div id="tip-code" class="exercise-tip-placement" style="top:200px;left:400px;"></div>
<div id="tip-statement" class="exercise-tip-placement" style="top:230px;left:320px;"></div>
<div id="tip-lonely-block" class="exercise-tip-placement" style="top:330px;left:400px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="Aloita" class="wide" data-options="prev_button: false">
    <h2>Ohjelmoinnin perusteita</h2>
    <p>Käydään pikaisesti läpi sitä miten näiden palikoiden kanssa ohjelmointi toimii.</p>
  </li>
  <li data-id="tip-code" data-button="Seuraava" data-options="tip_location: right; prev_button: true">
    <p>Ohjelmakoodia suoritetaan ylhäältä alas.</p>
    <p>Jotkin palikat kiinnittyvät toisiinsa myös ylä ja alapuolelta.</p>
  </li>
  <li data-id="tip-statement" data-button="Seuraava" data-options="tip_location: right; prev_button: true">
    <p>Tälläisissa palikoissa koodia lisätään palikan sisään.</p>
    <p>Tässä tapauksessa luodaan siis kolme palloa (palikan sisällä oleva koodi suoritetaan kolme kertaa).</p>
  </li>
  <li data-id="tip-lonely-block" data-button="Seuraava" data-options="tip_location: right; prev_button: true">
    <p>Huomaa palikoiden erot: Toiset palikat ottavat muita palikoita vastaan, ja toiset vain kiinnittyvät muihin.</p>
    <p>Esimerkiksi tämä yksinäinen tekstipalikka ei tee mitään ilman että se on kiinnitettynä johonkin toiseen palikkaan.</p>
  </li>
  <li class="wide" data-button="Seuraava" data-options="tip_location: right; prev_button: true">
    <p>Muista että voit ohjelmoidessasi missä tahansa vaiheessa testata ohjelmasi toimintaa.</p>
    <p>Vaikeammissa tehtävissä on siis helpompi yrittää pilkkoa ongelmia pienempiin osiin ja ratkaista
    ne yksi kerrallaan, sen sijaan että yrittäisi saada koko tehtävää ratkeamaan kerralla.</p>
    <div class="after-step-method" style="display:none" data-exec="Basics.endOnLastSlide()"></div>
  </li>
  <li class="wide" data-button="OK!" data-options="tip_location: right; prev_button: true">
    <p>Klikkaa nyt vain "Suorita koodi" -nappia niin pääset seuraavalle tasolle.</p>
  </li>
</ol>
{% endif %}
{% if level == 3 %}
<div class="task-overview">
  <h2>Tehtävä</h2>
  <p>Yritä piirtää kentälle jonkin laskutoimituksen tulos (esim 1 + 1).</p>
</div>
<div id="tip-categories" class="exercise-tip-placement" style="top:80px;left:0px;width:165px;"></div>
<div id="tip-categories-open" class="exercise-tip-placement" style="top:70px;left:0px;"></div>
<div id="tip-arith" class="exercise-tip-placement" style="top:135px;left:45px;"></div>
<div id="tip-text" class="exercise-tip-placement" style="top:80px;left:55px;"></div>
<div id="tip-trash" class="exercise-tip-placement" style="top:575px;left:0px;width:110px;"></div>
<div id="tip-reset" class="exercise-tip-placement" style="top:630px;left:0px;width:150px;"></div>
<ol class="joyride-list" data-joyride>
  <li data-button="Seuraava" class="wide hide-modal-next" data-options="prev_button: false;">
    <h2>Lisävinkkejä</h2>
    <p>Nyt osaat perusteet. Käydään vielä pikaisesti läpi muutama juttu jotka helpottavat sinua matkan varrella.</p>
  </li>
  <li data-id="tip-categories" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true;">
    <p>Joissain tehtävissä palikoita on sen verran paljon, että ne on jaettu kategorioihin. Kategorian nimeä klikkaamalla näet sen alla olevat palikat.</p>
  </li>
  <li data-id="tip-categories-open" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true;">
    <p><strong>Uusi palikka:</strong> tällä pystyy määrittelemään lukuja.</p>
    <div class="before-step-method" style="display:none" data-exec="Exercises.openLastCategory()"></div>
  </li>
  <li data-id="tip-arith" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true;">
    <p><strong>Uusi palikka:</strong> tämä pystyy suorittamaan laskutoimituksia kun siihen yhdistää kaksi lukupalikkaa (yllä).</p>
    <strong>Esimerkki:</strong> <img src="/img/exercises/basics/arithm_example.png" />
    <div class="before-step-method" style="display:none" data-exec="Exercises.openLastCategory()"></div>
  </li>
  <li data-id="tip-text" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true;">
    <p>"Piirrä teksti" -palikkaa pystyy käyttämään myös lukujen piirtämiseen.</p>
    <div class="before-step-method" style="display:none" data-exec="Exercises.openFirstCategory()"></div>
  </li>
  <li data-id="tip-trash" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true;">
    <p>Jos haluat joistain palikoista eroon, raahaa ne roskakoriin.</p>
  </li>
  <li data-id="tip-reset" data-button="Seuraava" class="wide" data-options="tip_location: right; prev_button: true;">
    <p>Tästä linkistä pystyt poistamaan kaikki lisäämäsi palikat nopeasti.</p>
  </li>
  <li data-button="OK!" class="wide pause-after" data-options="tip_location: right; prev_button: true;">
    <p><strong>Tehtävä:</strong> Yritä piirtää kentälle jonkin laskutoimituksen tulos <br />(esim 1 + 1).</p>
  </li>
  <li data-id="evaluate-btn" class="wide" data-options="tip_location: top; next_button: false; prev_button: true;">
    <p>Saat tehtävästä suoritusmerkinnän klikkaamalla tästä ja vastaamalla muutamaan kysymykseen.</p>
  </li>
</ol>
<div id="evaluation-selects">
  <div>Sain piirrettyä kentälle tekstiä</div>
  <div>Teksti oli vastaus johonkin laskutoimitukseen</div>
</div>
{% endif %}
{% endblock %}
