{% extends "../layouts/default.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/exercises/common.css" />
{% endblock %}

{% block js %}
<script src="/js/app.js"></script>
{% endblock %}

{% block content %}
<div id="topnavi">
  <ul>
    <li class="left">
      <div class="wrapper">
        <!-- href="/harjoitukset" -->
        <a id="exercises-link" class="active" href="#">{{ title }}</a>
      </div>
    </li>
    <li class="left">
      <div class="wrapper">
        <a href="/koodikentta">{{ code_field_link }}</a>
      </div>
    </li>
    <li class="right">
      <div class='wrapper'>
        <a id="info-link" href="#info">{{ info_link }}</a>
      </div>
    </li>
  </ul>
  <hr>
</div>
<div id="page-wrapper">
<div class="large-12 columns">
  <div id="exercises-page" class="page curr">
    <a href="/blockly-games/appengine/puzzle.html?lang={{ blockly_lang }}#warmup" class="exercise-button warmup">
      <div class="text">0.<br />{{ warmup_title }}</div>
    </a>
    <a href="/harjoitukset/perusteet" class="exercise-button basics">
      {% block stars %}{% endblock %}
      <div class="text">1.<br />{{ basics_title }}</div>
    </a>
    <a href="/harjoitukset/toistolauseet" class="exercise-button loops">
      {% block stars %}{% endblock %}
      <div class="text">2.<br />{{ loops_title }}</div>
    </a>
    <a href="/harjoitukset/koordinaatisto-ja-tapahtumat" class="exercise-button events">
      {% block stars %}{% endblock %}
      <div class="text">3.<br />{{ coordinate_system_and_events_title }}</div>
    </a>
    <a href="/harjoitukset/muuttujat" class="exercise-button vars">
      {% block stars %}{% endblock %}
      <div class="text">4.<br />{{ variables_title }}</div>
    </a>
    <a href="/harjoitukset/ehtolauseet" class="exercise-button ifs">
      {% block stars %}{% endblock %}
      <div class="text">5.<br />{{ conditional_statements_title }}</div>
    </a>
    <br /><br />
    <a href="#" class="reset-button">{{ start_over }}</a>
  </div>
  <div id="info-page" class="page next">
    <h3>{{ info_header }}</h3>
    {% autoescape false %}{{ info_content }}{% endautoescape %}
  </div>
</div>
</div>
{% endblock %}

{% block stars %}
  <div class='stars'>
    <img class="first" src="/img/star.png">
    <img class="second" src="/img/star.png">
    <img class="third" src="/img/star.png">
  </div>
{% endblock %}
