{% extends "../layouts/default.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="/css/exercises/common.css" />
{% endblock %}

{% block js %}
<script src="/js/app.js"></script>
{% endblock %}

{% block content %}
<div id="topnavi">
  <ul>
    <li class="left">
      <div class="wrapper">
        <!-- href="/harjoitukset" -->
        <a id="exercises-link" class="active" href="#">Harjoitukset</a>
      </div>
    </li>
    <li class="left">
      <div class="wrapper">
        <!--<a href="/koodikentta">Koodikenttä</a>-->
      </div>
    </li>
    <li class="right">
      <div class='wrapper'>
        <a id="info-link" href="#info">Info</a>
      </div>
    </li>
  </ul>
  <hr>
</div>
<div id="page-wrapper">
<div class="large-12 columns">
  <div id="exercises-page" class="page curr">
    <a href="/blockly-games/appengine/puzzle.html?lang=fi#warmup" class="exercise-button warmup">
      <div class="text">0.<br />Lämmittely</div>
    </a>
    <a href="/harjoitukset/perusteet" class="exercise-button basics">
      {% block stars %}{% endblock %}
      <div class="text">1.<br />Perusteet</div>
    </a>
    <a href="/harjoitukset/toistolauseet" class="exercise-button loops">
      {% block stars %}{% endblock %}
      <div class="text">2.<br />Toistolauseet</div>
    </a>
    <a href="/harjoitukset/koordinaatisto-ja-tapahtumat" class="exercise-button events">
      {% block stars %}{% endblock %}
      <div class="text">3.<br />Koordinaatisto ja tapahtumat</div>
    </a>
    <a href="/harjoitukset/muuttujat" class="exercise-button vars">
      {% block stars %}{% endblock %}
      <div class="text">4.<br />Muuttujat</div>
    </a>
    <a href="/harjoitukset/ehtolauseet" class="exercise-button ifs">
      {% block stars %}{% endblock %}
      <div class="text">5.<br />Ehtolauseet<!-- ja koordinaatisto --></div>
    </a>
    <br /><br />
    <a href="#" class="reset-button">Aloita alusta</a>
  </div>
  <div id="info-page" class="page next">
    <h3>Info</h3>
    <p>Kooditunti.fi on sivusto jossa opit ohjelmonnin perusteet.</p>
    <p>Sivustolta löytyy viisi harjoituskokonaisuutta, joissa kaikissa perehdytään eri
    käsitteeseen yksinkertaisten tehtävien ja selkeiden esimerkkien avulla.</p>
    <!--<p>Koodikenttällä pääset käyttämään mielikuvitustasi ja koodaamaan-->
    <!--omia ohjelmia sivuston tarjoamien työkalujen avulla</p>-->
    <p>Lisää harjoituksia löydät mm. <a href="/blockly-games/appengine/index.html?lang=fi">täältä</a></p>
    <p>
    <a href="http://studio.code.org/flappy/1">Tee oma Flappy-bird peli.</a><br />
    <a href="http://studio.code.org/s/frozen/stage/1/puzzle/1">Koodaa Annan ja Elsan kanssa.</a><br />
    <a href="https://scratch.mit.edu/">Kokeile Scratch-ympäristöä.</a><br />
    <a href="https://blockly-games.appspot.com/">Blockly-Games</a><br />
    </p>
    {#
    <h3>Uutta</h3>
    <ul>
      <li><strong>29.1.2015</strong> - Sivusto julkaistu</a></li>
      <!--<li>2015-01-05 - Ehtolauseet harjoitus valmis</a></li>-->
      <!--<li>2014-12-28 - Aloitussivu harjoitustyyppeillä (tämä sivu)</a></li>-->
      <!--<li>2014-12-15 - Kyselyille pohja: <a href="/alkukysely" target="_blank"><strong>alkukysely demo</strong></a></li>-->
      <!--<li style="font-size:11px;">2014-12-12 - Pohjaa tehtävätyypeille ja yksi osittain toimiva demo: <a href="/harjoitukset/maze" target="_blank"><strong>toistolauseet</strong></a></li>-->
      <!--<li style="font-size:10px;">2014-11-28 - Sivusto luotu. Lisätty lista harjoitteista selitteineen + esimerkkeineen ja osittain toimiva vapaa kenttä</li>-->
    </ul>
    #}
  </div>
</div>
</div>
{% endblock %}

{% block stars %}
  <div class='stars'>
    <img class="first" src="/img/star.png">
    <img class="second" src="/img/star.png">
    <img class="third" src="/img/star.png">
  </div>
{% endblock %}
