{% extends "../layouts/default.html" %}

{% block content %}
<br />
<a href="/harjoitukset/basics" class="incomplete"><strong>Blockly perusteet</strong></a><br />
<a href="/harjoitukset/variables"><strong>Muuttujat ja säätimet</strong></a><br />
<a href="/harjoitukset/maze" class="incomplete"><strong>Ehtolauseet ja koordinaatisto</strong></a><br />
<a href="/harjoitukset/loops" class="incomplete"><strong>Toistolauseet ja piirtäminen</strong></a><br />
<a href="/harjoitukset/events" class="incomplete"><strong>Tapahtumat</strong></a>
{% endblock %}
