{% extends "./skeleton.html" %}

{% block css %}
{% endblock %}

{% block js %}
{% endblock %}

{% block body %}

  {% block header %}
  <header class="header">
    <div class="content row">
      {% block nav %}
      {% endblock %}
    </div>
  </header>
  {% endblock %}

  {% block page_content %}
    <div class="row">
      <div class="large-12">{% block content %}{% endblock %}</div>
      <div class="large-3">{% block section_nav %}{% endblock %}</div>
    </div>
  {% endblock %}

  <footer class="content">
    <hr class="small">
  </footer>

{% endblock %}
