{% extends "./skeleton.html" %}

{% block pageID %}{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="/css/exercises/common.css" />
{% endblock %}
{% block js %}
<!--[if lt IE 9]>
  <script src="https://developers.google.com/_static/ec589ecf31/js/html5shim/html5.js"></script>
<![endif]-->
<script type="text/javascript" src="/js/exercises/common.js"></script>
<script type="text/javascript" src="/js/exercises/stage.js"></script>
<script type="text/javascript" src="/js/exercises/api.js"></script>
<script type="text/javascript" src="/js/exercises/api_helpers.js"></script>
<script type="text/javascript" src="/js/exercises/errors.js"></script>
<script type="text/javascript" src="/vendor/physicsjs-0.6.0/physicsjs-full-0.6.0.min.js"></script>
<script type="text/javascript" src="/vendor/mousetrap-1.4.6/mousetrap.min.js"></script>
<script type="text/javascript" src="/vendor/blockly/blockly_compressed.js"></script>
<script type="text/javascript" src="/vendor/blockly/blocks_compressed.js"></script>
<script type="text/javascript" src="/vendor/blockly/javascript_compressed.js"></script>
<script type="text/javascript" src="/vendor/blockly/patches.js"></script>
<script type="text/javascript" src="/vendor/blockly/{{ blockly_lang }}.js"></script>
<script type="text/javascript" src="/vendor/blockly/storage.js"></script>
<script type="text/javascript" src="/vendor/js-interpreter/acorn_interpreter.js"></script>
<script type="text/javascript" src="/blockly/patches/extra_properties.js"></script>
<script type="text/javascript" src="/blockly/custom_blocks/extra_properties.js"></script>
<script type="text/javascript" src="/blockly/custom_blocks/common.js"></script>
<script type="text/javascript" src="/blockly/custom_blocks/elements.js"></script>
<script type="text/javascript" src="/blockly/custom_blocks/{{ exerciseName }}.js"></script>
<script>Exercises.currentLevel = {{ level }};</script>
<script>Exercises.currentName = '{{ exerciseName }}';</script>
<script>Exercises.currentPathName = '{{ exercisePathName }}';</script>
<script>Exercises.currentID = '{{ exerciseName }}_level{{ level }}_locale_{{ locale }}';</script> <!-- here you can add support for localization -->
<script>Exercises.currentColor = '{{ color }}';</script>
{% endblock %}

{% block body %}
  {% block full_page_tips %}{% endblock %}
  {% block header %}
    <header class="header">
      <div class="content">
        <div id="back-btn">
          <a href="/">&lt;</a>
        </div>
        <div id="help-btn">
          <a href="#">?</a>
        </div>
        {% block nav %}
        {% endblock %}
      </div>
      <div id="steps" class="content row">
        {% block steps %}
        {% endblock %}
      </div>
    </header>
  {% endblock %}

  {% block page_content %}
    <div class="row full-width">
      <div class="large-12 columns">
        <div id="exercise-area">
          {% block exercise_tips %}{% endblock %}
          <!-- these floating on top of each other -->
          <!--<div id="code-display"></div>-->
          <div id="code-area" class="overlay-resize">
            <div id="code-area-borders">
              <div id="blockly" class="overlay-resize"></div>
              <div id="reset-code-btn"><a class="">{{ reset_to_defaults }}</a></div>
              <div id="start-execution-btn"><a class="button custom-btn" href="#steps">{{ execute_code }}</a></div>
              <div id="end-execution-btn" style="display:none;"><a class="button custom-btn">{{ abort_code_execution }}</a></div>
              <div class="resize-handle"></div>
            </div>
            <div id="code-area-actions">
              <div id="evaluate-btn" style="display:none;" class="right">
                <span data-tooltip class="has-tip tip-left" title="{{ evaluate_btn_tooltip }}">
                  <a class="button tiny custom-btn">{{ evaluate_performance }}</a>
                </span>
              </div>
            </div>
          </div>
          <div id="mask-between" class="overlay-resize"></div>
          <!-- these floating on top of each other -->
          <div id="output-stage">
            <canvas id="gridcanvas" width="601" height="601" style="position: absolute; z-index: 1;"></canvas>
            <div id="stage-coordinates-offset">
              <canvas id="viewport" width="601" height="601" style="position: absolute; z-index: 1;"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}

{% endblock %}
